{
  "presets": ["react", "es2015", "stage-2"],
  "env": {
    "development/client": {
      "plugins": [
        "typecheck",
        "react-transform" //Hot reloading react classes using Hot Module Replacement API
      ],
      "extra": {
        "react-transform": [{
          "target"  : "react-transform-hmr",
          "imports" : ["react"],
          "locals"  : ["module"]
        }]
      }
    }
  }
}